

.contact-paragraph[b-d0860kx054] {
    margin-top: 10px;
    /*margin: 0px 20px;*/
}
.contact-paragraph p[b-d0860kx054]{
    display: flex;
    justify-content: center;
    padding: 0% 10%;
    color: white;
    font-size: 18px;
}
.contact-paragraph h5[b-d0860kx054]{
    color: white;
    font-size: 18px;
    padding: 0px 10%;
} 

.social-icons a i:hover[b-d0860kx054] {
    color: cyan;
}

.submit-button:hover[b-d0860kx054] {
    background-color: black;
    border-color: black;
    color: red;
}



@media only screen and (min-width: 650px) and (orientation: landscape) {
    .submit-button[b-d0860kx054] {
        width: 110px;
        height: 40px;
    }

    .name-field input[b-d0860kx054], .email-field input[b-d0860kx054], .phone-field input[b-d0860kx054], .company-name-field input[b-d0860kx054], .message-field textarea[b-d0860kx054], .contact-method-field select[b-d0860kx054] {
        width: 50%;
    }

    .social-icons[b-d0860kx054] {
        justify-content: space-around;
    }
    
}

@media only screen and (min-width: 650px) and (orientation: portrait) {
    .submit-button[b-d0860kx054] {
        width: 110px;
        height: 40px;
    }

    .name-field input[b-d0860kx054], .email-field input[b-d0860kx054], .phone-field input[b-d0860kx054], .company-name-field input[b-d0860kx054], .message-field textarea[b-d0860kx054], .contact-method-field select[b-d0860kx054] {
        width: 50%;
    }

    .social-icons[b-d0860kx054] {
        justify-content: space-around;
    }
}



@media only screen and (min-width: 350px) and (max-width: 649px) and (orientation: portrait) {
    .name-field input[b-d0860kx054], .email-field input[b-d0860kx054], .phone-field input[b-d0860kx054], .company-name-field input[b-d0860kx054], .message-field textarea[b-d0860kx054], .contact-method-field select[b-d0860kx054] {
        width: 70%;
    }

    .social-icons a:nth-child(n):nth-child(-n+3)[b-d0860kx054] {
        padding-right: 5%;
        padding-left: 8%;
        padding-bottom: 5%;
        /*justify-content: space-between;*/
    }
    .social-icons a:nth-child(n+4):nth-child(-n+5)[b-d0860kx054] {
        padding-left: 20%;
        padding-right: 5%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 349px) and (orientation: portrait) {
    .name-field input[b-d0860kx054], .email-field input[b-d0860kx054], .phone-field input[b-d0860kx054], .company-name-field input[b-d0860kx054], .message-field textarea[b-d0860kx054], .contact-method-field select[b-d0860kx054] {
        width: 70%;
    }

    .social-icons a:nth-child(n):nth-child(-n+3)[b-d0860kx054] {
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        /*justify-content: space-between;*/
    }

    .social-icons a:nth-child(n+4):nth-child(-n+5)[b-d0860kx054] {
        padding-left: 17%;
        padding-right: 5%;
    }
}


.input-box[b-d0860kx054] {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-field[b-d0860kx054], .email-field[b-d0860kx054], .phone-field[b-d0860kx054], .company-name-field[b-d0860kx054], .message-field[b-d0860kx054], .contact-method-field[b-d0860kx054], .submit[b-d0860kx054] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
}

.name-field input[b-d0860kx054], .email-field input[b-d0860kx054], .phone-field input[b-d0860kx054], .company-name-field input[b-d0860kx054], .message-field textarea[b-d0860kx054], .contact-method-field select[b-d0860kx054] {
    padding: 5px 0px 5px 10px;
    background-color: #14213D;
    border: 1.5px solid #FCA311;
    border-radius: 20px;
    color: aliceblue;
}

.submit-button[b-d0860kx054] {
    background-color: tomato;
    border-radius: 20px;
    border-color: tomato;
}

input[b-d0860kx054]::placeholder {
    padding: 10px;
}

.message-field textarea[b-d0860kx054]::placeholder {
    padding: 10px;
}

.social-icons[b-d0860kx054] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.social-icons a i[b-d0860kx054] {
    font-size: 70px; 
    color: tomato;
}
